.header {
    padding: 0 1.3em;
    position: relative;
    box-shadow: 0px 3px 6px 0px #0000004A;
    &__logo {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
    }
    &__dropdown {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
        &--close {
            display: none;
        }
    }
    &__icons {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        &__icon {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1em;
        }
    }
}