<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../sass/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <footer class="footer">
        <img class="footer__logo" src="../img/footerLogo.png">
        <section class="footer__introduction">
            <p class="footer__introduction__text">Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed doing eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat ion ullamco laboris nisi.</p>
            <div class="footer__introduction__social-media">
                <img class="footer__introduction__social-media__icon" src="../img/facebook.png">
                <img class="footer__introduction__social-media__icon footer__introduction__social-media__icon--active" src="../img/twitter.png">
                <img class="footer__introduction__social-media__icon" src="../img/be.png">
                <img class="footer__introduction__social-media__icon" src="../img/linkedin.png">
                <img class="footer__introduction__social-media__icon" src="../img/youtube.png">
            </div>
        </section>
        <section class="footer__services">
            <h1 class="footer__services__title">Services.</h1>
            <div class="footer__services__list">
                <ul class="footer__services__list__left">
                    <li>+ Resturent & Bar</li>
                    <li>+ Swimming Pool</li>
                    <li>+ Wellness & Spa</li>
                    <li>+ Restaurant </li>
                    <li>+ Conference Room</li>
                    <li>+ Coctail Party House</li>
                </ul>
                <ul class="footer__services__list__right">
                    <li>+ Gaming Zone</li>
                    <li>+ Marrige Party</li>
                    <li>+ Party Planning</li>
                    <li>+ Tour Consultancy</li>
                </ul>
            </div>
        </section>
        <section class="footer__contact-us">
            <h1 class="footer__contact-us__title">Contact Us.</h1>
            <div class="footer__contact-us__phone">
                <img class="footer__contact-us__phone__icon" src="../img/footerPhoneNumber1.png">
                <div class="footer__contact-us__phone__text-container">
                    <h2 class="footer__contact-us__phone__text-container__title">Phone Number</h2>
                    <h4 class="footer__contact-us__phone__text-container__subtitle">+987 876 765 76 577</h4>
                </div>
            </div>
            <div class="footer__contact-us__phone">
                <img class="footer__contact-us__phone__icon" src="../img/footerPhoneNumber2.png">
                <div class="footer__contact-us__phone__text-container">
                    <h2 class="footer__contact-us__phone__text-container__title">Phone Number</h2>
                    <h4 class="footer__contact-us__phone__text-container__subtitle">+987 876 765 76 577</h4>
                </div>
            </div>
            <div class="footer__contact-us__phone footer__contact-us__phone--last">
                <img class="footer__contact-us__phone__icon" src="../img/footerPhoneNumber3.png">
                <div class="footer__contact-us__phone__text-container">
                    <h2 class="footer__contact-us__phone__text-container__title">Phone Number</h2>
                    <h4 class="footer__contact-us__phone__text-container__subtitle">+987 876 765 76 577</h4>
                </div>
            </div>
        </section>
        <section class="footer__terms-of-use">
            <h2 class="footer__terms-of-use__text footer__terms-of-use__text--copyright">Copyright By@Example - 2020</h2>
            <h2 class="footer__terms-of-use__text">Terms of use | Privacy Environmental Policy</h2>
        </section>
    </footer>
</body>
</html>