<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../sass/header.css">
</head>
<body>
    <header class="header">
        <img class="header__dropdown header__dropdown--open" src="../img/header/icons/dropdown.png">
        <img class="header__dropdown header__dropdown--close" src="../img/header/icons/closeDropdown.png">
        <img class="header__logo" src="../img/header/logo.png">
        <section class="header__icons">
            <img class="header__icons__icon" src="../img/header/icons/login.png">
            <img class="header__icons__icon" src="../img/header/icons/search.png">
        </section>
    </header>
</body>
</html>