<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../sass/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script defer src="../js/dropdown.js"></script>
</head>
<body>
    <header class="header">
        <p class="header__upper-text">We Make Your Feel Comfortable</p>
    </header>
    <div class="container">
        <nav class="container__card">
            <img class="container__card__dropdown" id="dropdownOpen" src="../img/header/icons/dropdown.png">
            <img class="container__card__dropdown hidden" id="dropdownClose" src="../img/header/icons/closeDropdown.png">
            <a class="container__card__link" href="../pages/home.html"><img class="container__card__link__logo container__card__link__logo--mobile" src="../img/header/logo.png"></a>
            <a class="container__card__link" href="../pages/home.html"><img class="container__card__link__logo container__card__link__logo--desktop" src="../img/header/logoDesktop.png"></a>
            <ul class="container__card__navbar" id="navBar">
                <a class="container__card__navbar__link" href="../pages/aboutUs.html"><li class="container__card__navbar__link__page">About Us</li></a>
                <a class="container__card__navbar__link" href="../pages/rooms.html"><li class="container__card__navbar__link__page">Rooms</li></a>
                <a class="container__card__navbar__link" href="../pages/offers.html"><li class="container__card__navbar__link__page">Offers</li></a>
                <a class="container__card__navbar__link" href="../pages/contact.html"><li class="container__card__navbar__link__page">Contact</li></a>
            </ul>
            <div class="container__card__icons">
                <img class="container__card__icons__icon" src="../img/header/icons/login.png">
                <img class="container__card__icons__icon" src="../img/header/icons/search.png">
            </div>
        </nav>
    </div>
</body>
</html>