.home__facilities{
    text-align: center;
    padding: 4em 1em 3em 1em;
    &__up{
        color: #777777;
        font-family: "Archivo", sans-serif;
        font-size: 0.8125rem;
        line-height: 0.9375rem;
        font-weight: 700;
        letter-spacing: 0.125rem;
    }
    &__title{
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -0.0625rem;
        margin: .4em 0;
    }
    &__container{
        &__content{
            text-align: left;
            padding: 0 1em;
            &__number{
                color: #2222220A;
                font-family: "Archivo", sans-serif;
                font-size: 7.5rem;
                line-height: 8.125rem;
                font-weight: 700;
                text-align: right;
            }
            &__icon{
                width: 60px;
                height: 60px;
                display: block;
                margin: -2.5em auto 3em 0;
            }
            &__title{
                font-family: "Old Standard TT", serif;
                font-weight: 400;
                font-size: 1.875rem;
                line-height: 1.875rem;
                letter-spacing: -0.9px;
            }
            &__description{
                color: #777777;
                font-family: "Archivo", sans-serif;
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.375rem;
                width: 80%;
                margin: 2em 0;
            }
        }
    }
    @media only screen and (min-width: 1000px) {
        &__title{
            font-size: 5rem;
            line-height: 5rem;
            letter-spacing: -0.125rem;
        }
        &__container{
            display: flex;
            flex-wrap: wrap;
            gap: 5em;
            max-width: calc((25em * 3) + (5em * 2));
            margin: 0 auto;
            &__content{
                max-width: 25em;
                flex: 1 1 25em;
                box-sizing: border-box;
                display: block;
            }
        }
    }
}
.swiper-pagination-bullet {
    width: 10px;          
    height: 10px;    
    opacity: 1;           
    border-radius: 50%;   
}
.swiper-pagination-bullet-active {
    background: #AD9D82 !important;  
}