.home__menu {
    &__icon {
        margin-left: auto;
        &--mobile {
            display: block;
        }
        &--desktop {
            display: none;
        }
    }
    &__container {
        padding: 0 1em;
        &__up {
            color: #777777;
            font-family: "Archivo", sans-serif;
            font-size: 0.8125rem;
            line-height: 0.9375rem;
            font-weight: 700;
            letter-spacing: 0.125rem;
        }
        &__title {
            font-family: "Old Standard TT", serif;
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 3.75rem;
            letter-spacing: -0.0625rem;
            margin: 0.4em 0 0.6em 0;
        }
        &__menu-container {
            &__food-container {
            display: flex !important;
            align-items: start;
            margin-bottom: 2em;
                &__image {
                    width: 40%;
                    height: auto;
                    margin-right: 1em;
                }
                &__text {
                    color: #222222;
                    font-weight: 400;
                    line-height: 1.5rem;
                    &__title {
                    font-family: "Old Standard TT", serif;
                    font-size: 1.5rem;
                    letter-spacing: -0.72px;
                    margin: 0 0 0.5em 0;
                    }
                    &__description {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                    }
                }
            }
            &__controls {
                text-align: right;
                &__controller {
                    padding: 0.9em 1em;
                    cursor: pointer;
                    &--left {
                        background-color: #F8F8F8;
                        margin-right: 0.8em;
                    }
                    &--right {
                        background-color: #BDAC8D;
                    }
                }
            }
        }
    }
    &__slider {
        text-align: center;
        padding-bottom: 3em;
        &__image {
            width: 90%;
            max-width: 25em;
            height: 300px;       
            object-fit: cover; 
            margin: 4em 0 3em 0;
        }
    }
    @media only screen and (min-width: 1000px) {
        &__icon {
            margin-left: 3em;
            &--mobile {
                display: none;
            }
            &--desktop {
                display: block;
            }
        }
        &__container {
            padding: 0 1em;
            width: 70%;
            margin: 0 auto;
            position: relative;
            &__title {
                font-size: 5rem;
                line-height: 5rem;
                letter-spacing: -0.125rem;
            }
            &__menu-container {
                &__food-container {
                    &__image {
                        width: 150px;
                        height: 150px;
                        margin-right: 1em;
                    }
                }
                &__controls {
                    text-align: right;
                    position: absolute;
                    top: 2em;
                    right: 2em;
                    &__controller {
                        padding: 1.5em 1.5em;
                    }
                }
            }
        }
        &__slider {
            display: flex;
        }
    }
}
  
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background: #AD9D82 !important;
}
  
@media only screen and (min-width: 1000px) {
    .home__menu__slider {
        display: block;
    }
    .home__menu__slider .swiper-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .home__menu__slider .swiper-slide {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em; 
    }
    .swiper-pagination {
        display: none;
    }
}