.about-us__restaurant{
    padding: 1em 0 4em 0;
    &__container{
        padding: 1em;
        box-shadow: 0px 14px 24px 0px #B8B8B81A;
        &__image{
            width: 100%;
        }
        &__up{
            color: #777777;
            font-family: "Archivo", sans-serif;
            font-size: 0.8125rem;
            line-height: 0.9375rem;
            font-weight: 700;
            letter-spacing: 0.125rem;
            text-align: left;
            margin: 2.5em 0;
        }
        &__title{
            color: #222222;
            font-family: "Old Standard TT", serif;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 3.0625rem;
            letter-spacing: -0.0625rem;
        }
        &__description{
            color: #777777;
            font-family: "Archivo", sans-serif;
            font-size: 0.8125rem;
            line-height: 1.25rem;
            font-weight: 400;
            margin: 2em 0;
            width: 90%;
        }
        &__button{
            display: block;
            color: #FFFFFF;
            font-family: "Archivo", sans-serif;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 0.9375rem;
            letter-spacing: 0.125rem;
            padding: 1.5em 3.5em;
            background-color: #BEAD8E;
            border: none;
            cursor: pointer;
        }
    }
}